* {
    /* box-sizing: border-box; */
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

html {
    height: 100%;
    background-image: linear-gradient(to right top, #9a9ae1, #9a9ae1, #9a9ae1, #9a9ae1, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

table {
    position: relative;
    margin-top: 20px;
    border: 1px solid #9a9ae1;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 5px #D16BA5;
    table-layout: fixed;
}

button {
    margin: 10px;
    padding: 7px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 30, 30);
    font-weight: bold;
   }
   

th {
    position: sticky;
  }

td {
    padding: 10px;
    background-color: #91f3ec;
    cursor: pointer;
    width: 10px;
    height: 10px;
    opacity: 0.9;
    transition: 0.7s;
    line-height: 0;
}

td:hover {
    background-color: #91f3ec7c;
    opacity: 0.7;
  }

.bomb {
    width: 35px;
    height: 35px;
}

.title {
    width: 250px;
    margin-top: 20px;

}

.numbers {
    color: rgb(255, 30, 30);
    font-family: fantasy;
}

.levels {
    margin: 25px;
    display: inline-block;
}

.mark {
    background-color: red;
}